
<nav id="navstyle" class="ui vertical labeled stackable icon menu">

   <a id="menuhome" class="item" href="/"> 
     <i class="inverted home icon"></i>
     Webmark </a>

    <a  id="menubookmarks" class="item" href="/webmarks"> 
      <i class="inverted bookmark icon"></i>
      Bookmarks </a>
    <a  id="menuabout" class="item" href="/about"> 
      <i class="inverted info circle icon"></i>
      About </a>
 
 
</nav>

<script>
  $("#{{id}}").addClass("item active");
</script>

