
<section id="bookmark" class="ui red raised segment">
      <a id="bookmarkicons" class="ui red ribbon label"><i class="bookmark icon"></i>Bookmarks</a>
     <span class="sizer"> <i class="{{webmark.icon}}"></i> {{webmark.title}}</span> 
  {{>listbookmarks}}
</section>