
<section id="bg" class="ui yellow raised segment">
  <a class="ui yellow ribbon label"><i class="home icon"></i>Home</a>
<h1 class="ui centered header">
   Welcome to Webmark
  </h1>
  <h3 class="ui centered header">
    A simple app that lets you maintain your bookmarks!
  </h3>
<br>
  <br>
  <div id="imgstyle">
  <img class="ui centered huge image" src="https://cdn.glitch.com/fd66c5f8-a934-4e76-8ef4-a5bdc7faaec8%2Fbookmarks.jpg?1520737512190">
  </div>
  
</section>